@using Camiher.Libs.Server.DAL.CamiherDAL
@using WEBCAMIHER.Views.Products
@using WEBCAMIHER.Views.Shared
@{
    ViewBag.Title = "ListProducts";
   
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ProductsStrings.Title</h1>
                <p>
                    @ProductsStrings.TitleParraf
                </p>
            </hgroup>
        </div>
    </section>
}

<ol class="round">
    @foreach (ProductsSet item in ViewBag.ProductList)
{
    <li class="productList">
        <h3>@Html.ActionLink(item.Producto + " " + item.Marca + " " + item.Modelo, "ProductDescription", "Products", new { productId = item.Id }, null)</h3>
        <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(System.Text.Encoding.Default.GetBytes(item.ImageMain)))" />
        <p ><span style="font-weight:bold;">@ProductsStrings.Price :</span>@item.Precio Euros</p>
        <p ><span style=" font-weight:bold;">@ProductsStrings.Year :</span>@item.Año</p>
        <p ><span style="font-weight:bold;">@ProductsStrings.Hours :</span>@item.Hours</p>
        <p><span style="font-weight:bold;">@ProductsStrings.Kilometers :</span>@item.Kilometer</p>
        <br>
        <p ><span style="font-weight:bold;">@ProductsStrings.Description :</span>@(item.Descripcion.Count() <31 ? item.Descripcion : item.Descripcion.Substring(0,30)) ...</p>
    </li>


}
</ol>
