@using WEBCAMIHER.Views.Products
@using WEBCAMIHER.Views.Shared
@{
    ViewBag.Title = "ListProducts";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Product.Producto @ViewBag.Product.Marca  @ViewBag.Product.Modelo</h1>
                <p>
                    @ViewBag.Product.Descripcion
                </p>
            </hgroup>
        </div>

        
        
    </section>
    
}

<div>
    <p><span>@ProductsStrings.Year :</span>@ViewBag.Product.Año</p>
    <p><span>@ProductsStrings.Hours :</span>@ViewBag.Product.Hours</p>
    <p><span>@ProductsStrings.Kilometers :</span>@ViewBag.Product.Kilometer</p>
    <p><span>@ProductsStrings.Weight :</span>@ViewBag.Product.Peso</p>
    <p><span>@ProductsStrings.Power :</span>@ViewBag.Product.Potencia</p>
</div>

<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
        @foreach (var imgdata in @ViewBag.ProductImages)
        {
            <div><img u="image" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(System.Text.Encoding.Default.GetBytes(imgdata)))" /></div>
        }
            
        @*<div><img u="image" src="~/Images/camino1.jpg" /></div>
        <div><img u="image" src="~/Images/camino2.jpg" /></div>*@
    </div>
    <!-- Arrow Navigator Skin Begin -->
    <style>
        /* jssor slider arrow navigator skin 01 css */
        /*
                .jssora01l              (normal)
                .jssora01r              (normal)
                .jssora01l:hover        (normal mouseover)
                .jssora01r:hover        (normal mouseover)
                .jssora01ldn            (mousedown)
                .jssora01rdn            (mousedown)
                */
        .jssora01l, .jssora01r, .jssora01ldn, .jssora01rdn {
            position: absolute;
            cursor: pointer;
            display: block;
            background: url(/../Images/Slider/a11.png) no-repeat;
            overflow: hidden;
        }

        .jssora01l {
            background-position: -8px -38px;
        }

        .jssora01r {
            background-position: -68px -38px;
        }

        .jssora01l:hover {
            background-position: -128px -38px;
        }

        .jssora01r:hover {
            background-position: -188px -38px;
        }

        .jssora01ldn {
            background-position: -8px -38px;
        }

        .jssora01rdn {
            background-position: -68px -38px;
        }
    </style>
    @*<div u="navigator" class="jssorb01" style="position: absolute; bottom: 6px; right: 6px;">

    </div>*@
    
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora01l" style="width: 45px; height: 45px; top: 123px; left: 8px;">
    </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora01r" style="width: 45px; height: 45px; top: 123px; right: 8px">
    </span>

    <!-- Arrow Navigator Skin End -->
</div>



@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/web-Camiher.js")"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/Scripts/ie10-viewport-bug-workaround.js"></script>

    <!-- jssor slider scripts-->
    <!-- use jssor.js + jssor.slider.js instead for development -->
    <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
    <script type="text/javascript" src="/Scripts/jssor.slider.mini.js"></script>
    
<script>
    jQuery(document).ready(function ($) {
        var options = {
            $AutoPlay: true,
            $SlideDuration: { $Duration: 4000 },
            $AutoPlayInterval:  6000 ,
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,
                $ChanceToShow: 2
            }
        };
        var jssor_slider1 = new $JssorSlider$('slider1_container', options);
    });
</script>

    @*<script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true ,
                $BulletNavigatorOptions: {
                    $Class: $JssorBulletNavigator$,
                    $ChanceToShow: 2,
                    $AutoCenter: 1
                }
            };
            var jssor_slider1 = new $JssorSlider$('slider1_container', options);
        });
    </script>*@
}










