@using WEBCAMIHER.Views.Shared
@{
   
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<ol class="round">

        <li >
            <h5 style="font-weight:bold;">@SharedStrings.Address</h5>
            Cervantes 11 Cadalso de los vidrios , Madrid (28640)
            <br>          
        </li>
        <li >
            <h5 style="font-weight:bold;">@SharedStrings.PhoneNumber</h5>
            (+34) 629 106 714 
            <br/>
            (+48) 795 923 091 @SharedStrings.EnglishSpeaker
            <br/>          
        </li>
        <li >
            <h5 style="font-weight:bold;">@SharedStrings.Email</h5>
            @SharedStrings.EmailValue 
        </li>
        
</ol>
@*<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Oficina:</span>
        <span>91 864 07 40</span>
    </p>
    <p>
        <span class="label">Movil:</span>
        <span>629 10 67 14</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>

    <p>
        <span class="label">General:</span>
        <span><a href="camihersl@hotmail.com">camihersl@hotmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Direccion</h3>
    </header>
    <p>
        Cervantes 11<br />
        Cadalso de los vidrios , Madrid,(28640)
    </p>
</section>*@

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/web-Camiher.js")"></script>

}